<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{rank/fragmentsAndLayout/default_layout}"><!--decorate 의 경로는 templates 다음 디렉토리 경로 부터 써줘야 한다-->

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
   <script th:inline="javascript">
       
        function updateTable(obj){
            var field=obj.getAttribute('field');
            var id=obj.getAttribute('id');
            $.ajax({
                type: 'GET',
                url: '/rank/main/sort?field=' + field,
            }).done(function(res){
                $('#mainTable').replaceWith(res);   //replaceWith는 지정된 엘리먼트 포함하여 내용 바꿔치기함=>tag 자체를 변경
                $('#sort_by').html($('#'+id).text()); //html은 지정된 엘리먼트 밑에 내용만 바꿔치기힘 이둘의 차이를 잘알아야함=>tag안 내용만 바꿈
            }).fail(function(){
                alert('삭제 실패');
            });
        }
    </script>
</th:block>

<!-- Content -->
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <div class="title-text mt-3">
                        <h2>위스키 랭킹</h2>
                    </div>
                    <span id="sort_by">
                        마트 판매량순
                    </span>
                </div>
            </div>
            <!-- /.col end-->
        </div>
         <!-- row end-->
         <div class="row">
            <div class="col-lg-12">
                <ul class="nav custom-tab d-flex flex-row justify-content-center border text-white" id="myTab" role="tablist">
                    <li class="nav-item ">
                        <a class="nav-link" id="saleRank-tab" th:field="salerank" onclick="updateTable(this);return fasle;">마트 판매량순</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="perPrice-tab" th:field="perprice" onclick="updateTable(this);return fasle;">가성비순</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="recommand-tab" th:field="recommend" onclick="updateTable(this);return fasle;">주인장 추천순</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="smoky-tab" th:field="smoky" onclick="updateTable(this);return fasle;">스모키(가성비)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sherry-tab" th:field="sherry" onclick="updateTable(this);return fasle;">쉐리(가성비)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="bourbon-tab" th:field="bourbon" onclick="updateTable(this);return fasle;">버번(가성비)</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home" role="tabpanel">
                        <div class="table-responsive table-responsive">
                            <table class="table" id="mainTable">
                                <thead>
                                    <tr>
                                        <th class="text-center text-nowrap" scope="col">순위</th>
                                        <th class="text-center text-nowrap" scope="col">상품이미지</th>
                                        <th class="text-center text-nowrap" scope="col">상품정보</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="inner-box" th:classappend="${idx.index+1} == 1 or ${idx.index+1} == 2 or ${idx.index+1} == 3 ?'text-light bg-info'"  th:each="whisky,idx:${whiskyMainRankList}">
                                        <td scope="row">
                                            <div class="event-date">
                                                <span th:text="${idx.index+1}">idx</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="event-img">
                                                <img class="img-fluid" th:src="|/image/${whisky.savedName}|" alt="" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="event-wrap">
                                                <h3 th:text="${whisky.name}"></h3>
                                                <div class="meta">
                                                    <div class="organizers">
                                                        <p th:text="|가격 : ${whisky.price}|"></p>
                                                    </div>
                                                    <div class="categories">
                                                        <p th:text="|100 ml 당 가격 : ${whisky.perPrice}|"></p>
                                                    </div>
                                                </div>
                                                <div class="primary-btn">
                                                    <a class="btn btn-primary" href="#">상세보기</a>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                 </div>
            </div>
         </div>
    </div>
</div>
</html>